<a href='javascript:void(0);' onclick='$("#add-item-autocomplete").slideUp();' id='close-results'>Close Results</a>
<ul>
<% @results.each do |result| %>
  <li>
    <% if result[:images] && result[:images][:thumb] %>
      <%= link_to(image_tag(result[:images][:thumb]),  result[:link], :target => '_blank', :class => 'image-link') %>
    <% end -%>
    <h2><%= result[:name] %></h2>
    <p><%= truncate(Util::TextFormatter.text_plain_generator(result[:description]),:length => 200) %></p>
    <a class='add-item' href='javascript:void(0);' data-identifier="<%= h result[:identifier] %>">add</a>
  </li>
<% end -%>
</ul>
Not finding what you're looking for? Try pasting in a URL
